/* ======================================================
    ### Responsive Mobile-first Media Queries ###
========================================================= */

/* ---------------------- max1280px --------------------- */
/* ------------------------------------------------------ */
@media screen and (max-width : 1199px){
    .banner_title {
        font-size: 40px;
        line-height: 50px;
    }
    .bnr_right {
        max-width: 100%;
    }
    .banner_section {
        padding-top: 130px;
    }
    .main_bg_content {
        height: 700px;
    }
	
    
}/* ------ end max1280px ------- */


/* ---------------------- max992px ---------------------- */
/* ------------------------------------------------------ */
@media screen and (max-width : 991.50px) {
    /*  main-menu */
    .main_navbar .container_fluid{
        flex-direction: row-reverse !important;
    }
    .navbar-brand{
        margin: 0 auto;
    }
    .header_section.sticky.fixed .navbar-toggler .bar {
        background: #333;
    }
    .navbar-collapse {
        position: fixed;
        left: 0%;
        top: 0%;
        width: 0%;
        overflow-y: auto;
        background: #fff;
       
    }
    .navbar-collapse.collapsing {
        left: 0%;
        transition: all .3s ease-in-out;
    }
    .navbar-collapse.show {
        transition: all .2s ease-in-out;
        width: 30%;
    }
    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: all .3s ease-in-out;
    }
    .navbar_nav {
        padding: 80px 0px;
        height: 100vh;
    }
    .navbar_nav li {
        margin: 0px;
        padding: 0px 0px;
        border-bottom: 1px solid #f1f2f3;
    }
    .navbar_nav li a {
        padding: 0px 35px;
 
    }
    .main_navbar ul li ul {
        display: none;
        padding: 0px 0px;
        -webkit-transition: all .0s ease-in-out;
        -o-transition: all .0s ease-in-out;
        transition: all .0s ease-in-out;
        box-shadow: none;
    }
    .main_navbar form {
        display: none !important;
    }
    .main_navbar ul li a{
    display: block;
    color: #888;
    padding: 10px 35px !important;
    font-weight: 400;
    } 
    .main_navbar ul li a:before{
        background: transparent;
        }
    .dropdown_menu li {
        padding-left: 35px !important;
    }
    .dropdown_menu li:first-child{
        border-top: 1px solid #f1f2f3;
    }
    .dropdown-toggle::after{
        display:inline-block;
        position: absolute;
        right: 15%;
        top: 50%;
        transform: translateY(-50%);
    }
    .main_navbar ul li ul{
        display: none;
        visibility: visible;
        opacity: 1;
        border-radius: 4px;
       
    } 
    .cls_btn {
        position: absolute;
        top: 0%;
        right: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        border-bottom: 1px solid #f1f2f3;
        padding:25px 20px;
        text-align: right;
        display: block;
        color: #888;
    }
    .cls_btn i{
        margin-left:30px;
    }
    /* end main-menu */
    .banner_section {
        padding-top: 90px;
    }
    .banner_content {
        margin-bottom: 45px;
    }
    .banner_content_right{
        margin-left: 0;
    }
    .working_process_section {
        padding-top: 70px;
    }
    .title{
        font-size: 28px;
    }
    .gi_two {
        top: 100px;
    }
    .card_top ul li h1 {
        font-size: 28px;
    }
    .mb{
        margin-bottom: 40px;
    }
    .rev_nav_pills li:not(:last-child) {
        margin-right: 10px;
    }
    .call_to_action_content .title {
        font-size: 36px;
        line-height: 44px;
      
    }

}
/* ------ end max992px ------- */


/* ---------------------- max768px ----------------------*/
/* ------------------------------------------------------*/
@media screen and (max-width : 768px) {	
    .banner_section {
        padding-top: 70px;
    }
    .banner_title{
    font-size: 35px;
    line-height: 45px;
 }
 .workPro_content_box {
    margin-bottom: 50px;
    box-shadow: 0 15px 60px 0 rgb(0 0 0 / 10%);
}
 .workPro_content_box_effect {
    width: 100%;
    left:0;
    display: none;
}
.editor_designed_section {
    padding-top: 40px;
    padding-bottom: 60px;
}
.editor_designed_one{
    max-width: 400px;
}
 .editor_designed_two{
    right: 3%;
 }
 .editor_designed_rig_cntn {
    margin-top: 60px;
}
.genera_informes_section {
    padding-bottom: 90px;
    padding-top: 90px;
   
}
.genera_informes_section .row {
    flex-direction: column-reverse;
}
.genera_informes_section .editor_designed_one.gi_one {
    position: inherit;
    max-width: 100%;
    right: 0;
    top: 0;
}
.genera_informes_section .editor_designed_two.gi_two {
    max-width: 100%;
    left: 0;
    right: 0;
    top: 50%;
   
}
.genera_informes_section .editor_designed_rig_cntn{
    margin-top: 100px;
}
.revolutionize_section {
    padding: 80px 0 30px;
}
.revolutionize_section .rev_nav_pills {
    justify-content: space-around;
}
.revolutionize_section .rev_nav_pills li:not(:last-child) {
    margin-right: 0px;
}
.tab_shadow {
    max-width: 90%;
    bottom: -25px;
}

.our_service_content{
    text-align: center;
    margin-bottom: 48px;
    box-shadow: 0 15px 60px 0 rgb(0 0 0 / 10%);
    padding-top: 30px;
    padding-bottom: 40px;
    border-radius: 5px;
}
.our_service_inner p {
    max-width: 300px;
    margin: 0 auto;
}
.owl-carousel.testimonial {
    z-index: 1;
}
.testimonial_content p {
    font-size: 16px;
    line-height: 24px;

}
.owl-carousel.testimonial .owl-nav .owl-prev ,.owl-carousel.testimonial .owl-next{
    position: inherit;
    display: none;
}

.testimonial_carousel_content .tab_shadow{
    max-width: 90%;
    bottom: 22%;
}
.card_top ul li h1 {
    font-size: 24px;
    margin-bottom: 0;
}
.card_top {
    padding-bottom: 24px;
    margin-bottom: 28px;
}
.card-body ul {
    margin-bottom: 35px;
}
.faq_section {
    padding-top: 40px;
}
.call_to_action_section {
    padding: 90px 0 90px;
}

.faq_content ul li a{
    padding: 1px 20px;
}
.call_to_action_content .title {
    font-size: 26px;
    line-height: 34px;
}
.footer_content {
    padding: 90px 0 40px;
}

.footer_info {
    display: block;
    text-align: center;
}
.footer_infor_menu {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

}
/* ------ end max768px ------- */

/* ---------------------- max575px -------------------- */
/* ---------------------------------------------------- */

@media screen and (max-width : 575px) {
    .editor_designed_two {
        right: -7px;
    }
    
}
/* ------ end max575px ------- */

/* ---------------------- max480px -------------------- */
/* ---------------------------------------------------- */

@media screen and (max-width : 479.99px) {
    .editor_designed_two {
        right: -7px;
        top:0;
    }
    .card-body ul li {
        padding-left: 0;
        padding-right: 0;
    }
    .card-body ul li i {
        margin: 0 15px;
        margin-left: 0;
    }
    .call_to_action_content .title {
        font-size: 22px;
    }
    
    
}
/* ------ end max480px ------- */


/*=============================================================
         					The End                         
=============================================================== */

